:host {
    width: 100%;
    height: 100%;
    display: block;
}
.work-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px;
}
.practice-run-modal {
    width: 100%;
    padding: 60px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(#000, 0.80);
    min-height: 50vh;
    h2 {
        text-align: center;
    }
    .count {
        text-align: center;
        font-size: 48px;
    }
}
.countdown-modal {
    width: 100%;
    padding: 60px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(#000, 0.80);
    min-height: 50vh;
    h2,p {
        text-align: center;
    }
    .count {
        text-align: center;
        font-size: 48px;
    }
}
.fitt-circle {
    transition: fill 0.3s ease-out 0s;
}