.info-page {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    form {
        width:100%;
        max-width: 500px;
        padding: 30px 0;
    }
    .form-group {
        width:100%;
    }
}